{
  "attachments": [
    {
      "color": "#4089a3",
      "blocks": [
        {
          "type": "header",
          "text": {
            "type": "plain_text",
            "text": ":bar_chart: Daily Report",
            "emoji": true
          }
        },
        {
          "type": "context",
          "elements": [
            {
              "type": "mrkdwn",
              "text": "*Date: {{date}} | Total: {{total}}*"
            }
          ]
        }
        {% for stat in statistics %}
        , {
          "type": "section",
          "text": {
            "type": "mrkdwn",
            "text": "{% if stat["statistics"] %}:white_check_mark:{% else %}:warning:{% endif %}*  {{ stat["name"] }}*"
          }
        }
        {% if stat["statistics"] %}
        , {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "```{% for type, count in stat["statistics"].items() %}\n • {{ type }}: {{ count }}{% endfor %}```"
          }
        }
        {% endif %}
        {% endfor %}
      ]
    }
  ]
}
