{
  "attachments": [
    {
      "color": "{{color}}",
      "blocks": [
        {
          "type": "header",
          "text": {
            "type": "plain_text",
            "text": ":shield: ({{account['name']}}) GuardDuty: {{title}}",
            "emoji": true
          }
        },
        {
          "type": "context",
          "elements": [
            {
              "type": "mrkdwn",
              "text": "*Account: {{account['id']}}  | {{account['region']}}*"
            }
          ]
        },
        {
          "type": "divider"
        },
        {
          "type": "section",
          "fields": [
            {
              "type": "mrkdwn",
              "text": ":label:*Type:*\n{{finding_type}}"
            },
            {
              "type": "mrkdwn",
              "text": ":beginner:*Severity:*\n{{severity_label}}"
            },
            {
              "type": "mrkdwn",
              "text": ":chart_with_upwards_trend:*Count:*\n{{count}}"
            },
            {
              "type": "mrkdwn",
              "text": ":alarm_clock:*Time:*\n{{created_at}}"
            }
          ]
        },
        {
          "type": "section",
          "text": {
            "type": "mrkdwn",
            "text": "*Description:*\n{{description}}"
          }
        },
        {
          "type": "section",
          "text": {
            "type": "mrkdwn",
            "text": "*Resource ID:*\n• `{{instance_id}}`"
          }
        }
      ]
    }
  ]
}
