{
  "attachments": [
    {
      "color": "{{color}}",
      "blocks": [
        {
          "type": "header",
          "text": {
            "type": "plain_text",
            "text": "{{emoji}} ({{account['name']}}) Health Event: {{event_type_code}}",
            "emoji": true
          }
        },
        {
          "type": "context",
          "elements": [
            {
              "type": "mrkdwn",
              "text": "*Account: {{account['id']}}  | {{account['region']}}*"
            }
          ]
        },
        {
          "type": "divider"
        },
        {
          "type": "section",
          "fields": [
            {
              "type": "mrkdwn",
              "text": "* :gear: Service:*\n{{service}}"
            },
            {
              "type": "mrkdwn",
              "text": "* :label: Category:*\n{{event_type_category}}"
            },
            {
              "type": "mrkdwn",
              "text": "* :beginner: Status:*\n{{status}}"
            },
            {
              "type": "mrkdwn",
              "text": "* :calendar: Start Time:*\n{{start_time}}"
            }
          ]
        },
        {
          "type": "section",
          "text": {
            "type": "mrkdwn",
            "text": "*Description:*\n{{description}}"
          }
        },
        {
          "type": "section",
          "text": {
            "type": "mrkdwn",
            "text": "*Affected Entities:*\n{% for e in affected_entities %}\n• `{{e['entityValue']}}` — *{{e['status'].capitalize()}}*{% endfor %}"
          }
        }
      ]
    }
  ]
}
